/*generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Readex Pro', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content:flex-end;
    
}

.conteiner {
    width: 100vw;
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
}

.conteiner-2 {
    width: 100vw;
    background-color:black;
    margin: auto;
    margin-top: 50px;
}

i {
    color: white;
}

#p {
    color: white;
    margin-left: 5px;
}


.view {
    border-radius:5px;
    background-color: gray;
    margin-right: 20px;
    height: 30px;
}

/*main*/

.flex-1 {
    display: flex;
    flex-flow:row wrap;
}

.item {
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content:flex-end;
    justify-content: space-between;
    margin: auto;
    margin: 5px;
}

.pinco {
    background-color: gray;
    height: 30px;
    width: 120px;
    align-self: flex-end;
    align-items: center;

}

/*footer*/

#p3 {
    color: red;
}

.conteiner-3 {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color:rgb(27, 26, 26);
    bottom: 0;
    align-items: center;
    justify-content: space-between;
}

.nav-flex {
    display: flex;
}
    

.flex-column {
    flex-direction: column;
}

.box p {
    color: white;
}

.rigth {
    padding: 0px 10px;
    border: solid 1px black;
    height: 80px;
    align-items: center;
    background-color: rgb(56, 55, 55);
}





