/*generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Readex Pro', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content:flex-end;
}

.conteiner {
    width: 100vw;
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
}

.conteiner-2 {
    width: 100vw;
    background-color:black;
    margin: auto;
    margin-top: 50px;
}

i {
    color: white;
}

#p {
    color: white;
    margin-left: 5px;
}


.view {
    border-radius:3px;
    background-color: gray;
    margin-right: 20px;
    height: 30px;
}

/*main*/

.flex-1 {
    display: flex;
    flex-flow:row wrap;
}

.item {
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content:flex-end;
    justify-content: space-between;
    margin: auto;
    margin: 5px;
}

.pinco {
    background-color: gray;
    height: 30px;
    width: 120px;
    align-self: flex-end;
    align-items: center;

}

/*footer*/

.conteiner-3 {
    position: fixed;
    width: 100vw;
    height: 3000px;
    background-color: rgb(186, 202, 39);
}

